body {
    font-family: "Raleway", sans-serif;
    background-color: #816f6f;
    color: #434455;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.address-head{
    font-style: normal
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-text{
    color: #2e2f42;
}
.link-header{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
}
.link-header:focus, .link-header:hover{
    color: #404BBF;
}
.address-link{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #434455;
    font-style: normal;
}
.address-link:focus, .address-link:hover {
    color: #404BBF;
}
.business{
    background-color: #2e2f42;
}
.business-h{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: #635959;
}
.button-business{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #bd7373;
    background-color: #4d5ae5;
    cursor: pointer;
}
.button-business:focus, .button-business:hover {
    background-color: #404BBF;
}
.base-h-two{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: #494a63;
}
.base-h-two-van{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: #4a4b62;
    text-transform: capitalize;
}
.base-h-tri{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #979be0;
}
.base-p{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.comand{
    background-color: #e5e8d0;
}
.comand-link{
    background-color: #201e1e;
}
.footer{
    background-color: #2e2f42;
}
.logo-futer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-futer-span{
    color: #58587b;
}
.footer-p{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #8080d9;
}